  * {
    margin: 0;
    padding: 0;
  }

  .left{
    width: 40px;
    position: fixed;
    height: 100%;
    background: #555;
    float: left;
    text-align: center;
    border-right: 1px solid red;
  }

  .left img{
    height: 25px;
    width: 25px;
    padding-top:15px; 
  }

  .right{
    position: absolute;
    width: 100%;
    left: 40px;
    float: left;
    background: #666;
    margin-bottom: 20px;
  }

  #nav {
    height: auto;
    overflow: scroll;
    background: #666;
  }

  #nav li {
    float: left;
    list-style: none;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background: #666;
    color: #fff;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-left: 0.1px solid #444;
  }

  #nav li:hover {
    background: #555;
  }

  #nav li.active{
    background:#444;
  }

  #nav #btnAddTab {
    border: none;
    color: black;
    background: #555;
    width: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    color: #eee;
  }

  #nav #btnAddTab:hover {
    background: #777;
  }

  .tab-content {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #444;
  }

  .file_content {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
  }

  .file_content.active {
    display: block;
  }

  .file_content .textarea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: #444;
    color: #fff;
    font-size: 16px;
  }

  .footer{
    position: absolute;
    height: 20px;
    background:#127cc9;
    bottom: 0;
    width: 100%;
    text-align: center;
  }